@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,300;0,700;1,300;1,600&display=swap');

body{
	background-color: #0a0808;
	margin: 0px;
    padding: 0px;
}

.block1{
	display: grid;
    /*grid-column-gap: 30px;*/
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 20% 20% 20% 20% 20%;
	padding-top: 10px;
}



.h1fedya{
	position: relative;
	z-index: 1;
	grid-column-start: 3;
	grid-column-end: 10;
	grid-row-start: 1;
}


.h1fedka{
	font-size: 200px;
	color: white;
	font-family: "Spectral SC", serif;
	font-weight: 100;
	margin: 0;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}




.img-1 {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 5;
	z-index: 0;
	margin-top: 10px;
	top: 50px;
	left: 50px;

}



.item{
	font-size: 16px;
	position: relative;
	z-index: 1;
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 3;
	margin-left: 80px;

}




.ul{
	color: white;
	font-family: 'Spectral SC', serif;
    border-left: 2px solid #ccc; /* Параметры линии */ 
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    
}



.line1{
	height: 1px;
	width: 640px;
	border: 1px inset white;
	grid-column-start: 1;	
	grid-column-end: 10;
	grid-row-start: 5;
	background-color: white; 
	display: absolute;
	z-index: 5;
	margin-top: 47px;
	
}

.line2{
	height: 345px;
	width: 1px;
	border: 1px inset white;
	grid-column-start: 6;	
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: white; 
	display: absolute;
	z-index: 6;
	margin-left: 25px;
}



.block2{
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

}


.item1{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;	
	grid-column-end: 8;	
    position: relative;
}



.fedya2{
	font-family: "Spectral SC", serif;
	font-weight: 100;
}



.img-2{
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 1;	
	grid-column-end: 4;	
	position: relative;
	z-index: 3;
	bottom: 20px;
}



.paragraph1{
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 4;	
	grid-column-end: 8;	
	position: relative;
	z-index: 3;
    width: 500px;
}

.p1{
 	font-weight: 100;	
 	font-size: 15px;
 	padding-bottom: 15px;
 	border-bottom: 2px solid #ccc;
}

.paragraph2{
	grid-row-start: 5;
	grid-row-end: 7;
	grid-column-start: 4;	
	grid-column-end: 8;	
	position: relative;
	z-index: 3;
	bottom: 60px;
}


.p2{
	font-weight: 100;	
 	font-size: 15px;
 	padding-bottom: 10px;
 	
}


.line3{
	grid-row-start: 7;
	grid-row-end: 9;
	grid-column-start: 2;		
	position: relative;
	background-color: white; 
	z-index: 3;
	height: 345px;
	width: 1px;
	border: 1px inset white;
}


.item2{
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 2;
    grid-column-end: 5;
    margin-left: 30px;
    position: relative;
    z-index: 6;
}


.fedya3{
	font-family: "Spectral SC", serif;
	font-weight: 100;
	font-size: 20px;
}




.item5{
	grid-row-start: 7;
	grid-row-end: 9;
	grid-column-start: 3;
    grid-column-end: 6;
    position: relative;
    z-index: 1;
    bottom: 30px;
}











main{
	position: relative;
	background-color: #0a0808;
	padding: 10px;
	grid-column-gap: 30px;
	margin: 0 10%;
	padding: 10px;
	width: 80%;
	margin: 0 120px;
}



p{
	color: white;
	font-family: 'Spectral SC', serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}



h1{
	color: white;
	font-family: "Spectral SC", serif;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}


